.page-header {
  margin: 0 0 20px 0;
  padding-bottom: 9px;
  padding-top: 20px;
  font-weight: 800;
}

.logo {
  width: 615px;
}

header {
	margin-bottom: 40px;
	}

.sitemap_toggle, .ex {
	cursor:pointer;
	}
	
.ex {
	text-align: right;
	}
	
.on_sidebar {

  display: block;
  padding: 10px 15px;
  border-bottom: solid 1px #ccc;

	}	

.sitemap  {
	padding: 30px;
	display: none;
	position: fixed;
	z-index: 9999999;
	width: 100%;
	height: 100%;
	background-color: #fff;
	top: 0;
	overflow: scroll;
	}
	
.sitemap h1 {
	text-align: center;
	padding-bottom: 20px;
	margin-bottom: 20px;
	border-bottom: solid 1px #ccc;
	font-weight: 600;
	}
	
	
.sitemap .container .row div h2 {
	font-size: 16px;
	font-weight: 600;
	margin-bottom: 10px;
	}
	
.sitemap .container .row div ul {
	margin: 0;
	padding: 0;
	margin-bottom: 30px;
	margin-left: 20px;
	font-size: 13px;
	}

h3 {
	margin: 40px 0 10px 0;
	font-size: 20px;
	font-weight: 800;
	}